body{
    padding    : 0;
    margin     : 0;
    font-family: sans-serif;
}
/*================HEADER==============*/

#header{
      position: fixed;
      top    : 0px;
      left   : 1px;    
      z-index: 500;
      width  :100%;
      height :100px;
      background-image  : url('images/pavilion%20logo%202.jpg');
      background-repeat: repeat-x;    
}


#header img{
    display : block;
    margin  : auto;
    height  : 70%;
    padding-top: 15px;
}

/*================ TOP-TEBS ==============*/

#tabs-top{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: indianred;     
}

#tabs-top a{
    float: left;
    display: block;
    width: 33%;
    height: 33px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top:12px;
}

/*================MAIN-HOME==============*/

#main-home{
    margin-top: 120px;
    
}

/*================BOTTOM-TABS==============*/

#tabs-bottom{
    position: fixed;
    bottom:0px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: mediumvioletred;
    padding-bottom: 1px;
}

#tabs-bottom a{
    float: left;
    display:block;
    width: 33%;
    height: 33px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    
}

/*================MAIN ==============*/

#main{
    margin-top: 119px;
    margin-bottom: 119px;
    background: url('images/pavilion%20mall%204.jpg');
    background-repeat: repeat-y;
    float: none;
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

/*================INFO-BOX==============*/

a.info-box{
    text-decoration:none;
    background: rgba(255, 255 ,255, .8);
    width: 100%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
    text-align: left;
}

.info-box img{
    height: 70px;
    margin: 10px;
    float: left;
    
}

.info-box h3{
    padding: 0;
    margin-bottom: 0px;
    width: 67%;
    color: black;       
}

.info-box p{
   margin: 0px;
    padding: 90;
    width: 90%;
    color: #131313;
    text-align:left;
    
}

.info-box img.right{
    float: right;
    margin-top: 25;
    height: 40px;
    
}

/*================INFO-BOX-FULL==============*/

#info-box-full{
    background: rgba(255,255,255, .8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 12px;  
}

#info-box-full img{
    width: 100%;
}

#info-b0x-full h3{
    text-align: center;
}

#info-box-full p{
    text-align: left;
    text-decoration: none;
    display: block;
}

/*================MOVIES==============*/

img.info-box-movie-icon{
    height: 30px;
    width: 30px !important;
    margin: 10px;
    float: left;
}

h1.info-box-movie-icon{
    font-size: 65px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

table{
    width: 100%;
}

td{
    border-top: 1px solid #131313
}

/*================FORM==============*/

input{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid #929292;
}

textarea{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid #929292;
}

.botton{
    display: block;
    width: 90%;
    background-color: forestgreen;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
        
    
}

